body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#bigDiv {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flexDiv {
  display: flex;
  margin-bottom: 20px;
}

#itemDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.mapList {
  display: flex;
  width: 30%;
  border-style: solid;
  margin: 2px;
  overflow: hidden;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

#uniqueItemDiv {
  display: flex;
  font-family: "Times New Roman";
}

#Heading {
  text-align: center;
  font-size: 70px;
  font-family: "Times New Roman";
  margin-bottom: 20px;
}

#root {
  height: 100%;
}

#testDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deleteDiv {
  border-style: solid;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
